openapi: 3.0.3
info:
  title: Nected API
  description: >-
    Nected is a low-code workflow automation and decision engine platform. The API
    enables triggering of rules and workflows, listing and inspecting entities,
    managing global variables, retrieving audit logs, and checking usage.
  version: '1.0'
  contact:
    name: Nected
    url: https://www.nected.ai
servers:
  - url: https://api.nected.ai
    description: Nected production API (management endpoints)
  - url: https://nected-59.nected.io
    description: Nected rule/workflow execution endpoint (replace with your tenant)
security:
  - NectedApiKey: []
paths:
  /nected/rule/{ruleId}:
    post:
      summary: Trigger a rule
      description: Execute a published Nected rule by its ID with single or bulk inputs.
      operationId: triggerRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRequest'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '401':
          description: Unauthorized
  /nected/workflow/{workflowId}:
    post:
      summary: Trigger a workflow
      description: Execute a published Nected workflow by its ID.
      operationId: triggerWorkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRequest'
      responses:
        '200':
          description: Successful execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '401':
          description: Unauthorized
  /dev/usage:
    get:
      summary: Check usage
      description: Returns the count of total invocations recorded for the workspace.
      operationId: checkUsage
      responses:
        '200':
          description: Usage data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      invocations:
                        type: integer
                  code:
                    type: string
                  message:
                    type: string
  /dev/audit/audit/search:
    get:
      summary: Search audit logs
      description: Retrieve audit log entries with filtering and pagination.
      operationId: searchAuditLogs
      parameters:
        - name: pageNo
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
            maximum: 10
        - name: search
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [ruleSet, simpleRule, dataSet, connector]
        - name: event
          in: query
          schema:
            type: string
            enum: [test, api, roleRevoke, webhook]
        - name: status
          in: query
          schema:
            type: string
            enum: [success, error]
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit log results
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  pageNo:
                    type: integer
                  pageSize:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                  code:
                    type: string
                  message:
                    type: string
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /dev/audit/audit/{logId}:
    get:
      summary: Get audit log detail
      operationId: getAuditLog
      parameters:
        - name: logId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Audit log entry
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /dev/{entityType}:
    get:
      summary: List rules or workflows
      operationId: listEntities
      parameters:
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum: [rule, workflow]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            default: 10
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [name, status, updatedAt, createdAt, version]
        - name: sortDir
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: status
          in: query
          schema:
            type: string
        - name: name
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [decisionTable, ruleset, workflow]
        - name: q
          in: query
          schema:
            type: string
        - name: tags
          in: query
          schema:
            type: string
        - name: createdAtFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: createdAtTo
          in: query
          schema:
            type: string
            format: date-time
        - name: updatedAtFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: updatedAtTo
          in: query
          schema:
            type: string
            format: date-time
        - name: createdBy
          in: query
          schema:
            type: string
        - name: updatedBy
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated entity list
        '401':
          description: Unauthorized
        '429':
          description: Rate limited
  /dev/{entityType}/{entityId}:
    get:
      summary: Get rule or workflow detail
      operationId: getEntity
      parameters:
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum: [rule, workflow]
        - name: entityId
          in: path
          required: true
          schema:
            type: string
        - name: view
          in: query
          schema:
            type: string
            enum: [summary, full]
        - name: include
          in: query
          schema:
            type: string
        - name: version
          in: query
          schema:
            type: string
        - name: expand
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Entity detail
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /dev/variable:
    get:
      summary: List global variables
      operationId: listGlobalVariables
      responses:
        '200':
          description: Paginated list of variables
    post:
      summary: Create a global variable
      operationId: createGlobalVariable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, dataType, value]
              properties:
                name:
                  type: string
                dataType:
                  type: string
                value: {}
      responses:
        '201':
          description: Created
  /dev/variable/{name}:
    get:
      summary: Get a global variable
      operationId: getGlobalVariable
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Variable detail
    patch:
      summary: Update a global variable
      operationId: updateGlobalVariable
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: checksum
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value: {}
      responses:
        '200':
          description: Updated
    delete:
      summary: Delete a global variable
      operationId: deleteGlobalVariable
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: checksum
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    NectedApiKey:
      type: apiKey
      in: header
      name: nected-api-key
  schemas:
    TriggerRequest:
      type: object
      properties:
        environment:
          type: string
          enum: [staging, production]
          default: production
        params:
          type: object
          additionalProperties: true
        bulkParams:
          type: array
          items:
            type: object
            additionalProperties: true
        version:
          type: string
        branchName:
          type: string
    TriggerResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            executionId:
              type: string
            executionTime:
              type: string
            ruleId:
              type: string
            output:
              type: array
              items:
                type: object
            bulkOutput:
              type: array
              items:
                type: object
            action:
              type: object
            additionalOutput:
              type: object
